extensions:
    dravencms.hcaptcha: Dravencms\HCaptcha\DI\HCaptchaExtension


webloader:
    js:
        admin: 
            remoteFiles:
                - "https://hcaptcha.com/1/api.js?recaptchacompat=off"
                
        frontend:
            remoteFiles:
                - "https://hcaptcha.com/1/api.js?recaptchacompat=off"
